body{
  margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
  text-align: center;
}

header{
  font-size: 1rem;
  display: flex;
  align-items:center;
  height: 80px;
  background-color: #afeeee;
  //justify-conten
  .app_name{
    font-size: 1.8rem;
    margin-left: 20px;
    a{
      text-decoration: none;
      color: gray;
    }
  }

  .header_manu{
    font-size: 1rem;
    display: flex;
    flex-grow: 3;
    justify-content: flex-end;
    .profile{
      margin-right: 30px;
      // text-align: right
      a{
        text-decoration: none;
        color: gray;
      }
     }

     .new_post{
       margin-right: 30px;
       // text-align: right
       a{
         text-decoration: none;
         color: gray;
       }
      }

    .logout{
      margin-right: 30px;
      // text-align: right;
      a{
        text-decoration: none;
        color: gray;
      }
    }

    .crrent_user{
      margin-right: 30px;
      // text-align: right;
      text-decoration: none;
      color: gray;
    }

    .sign_up{
      margin-right: 30px;
      // text-align: right;
      a{
        text-decoration: none;
        color: gray;
      }
    }

    .login{
      margin-right: 30px;
      // text-align: right;
      a{
        text-decoration: none;
        color: gray;
      }
    }
  }
}
.main-container {
  background-image: image-url("snowman-1090261__480.jpg");
  height: 800px;
  background-size:cover;
  width: 100%;
}

.contents{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
}

.index_picture{
  border: solid 1px black;
  padding-bottom: 10px;

  .index_picture_menu{
    display: flex;
    justify-content:space-around;
  }
}

.show_edit{
  display: flex;
}

footer{
  margin-top:  auto;
  display: flex;
  justify-content: center;
  align-items: center;
}